body {
  background-color: #ffffff;
  color: #616161;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: normal;
  color: #000000;
  margin: 0px 0px 10px 0px;
}

h2 {
  font-weight: normal;
  color: #616161;
  margin: 0px;
}

p {
  line-height: 25px;
  margin: 0px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #fa3e00;
}
a:active {
  color: #fa3e00;
}

.container {
  max-width: 650px;
  margin: 50px auto;
  padding: 5px;
}
@media screen and (max-width: 600px) {
    .container {
      margin: 30px auto;
      padding: 20px;
    }
}

.element {
  margin: 25px 0px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
}
@media screen and (max-width: 600px) {
  .header-section {
    margin-bottom: 20px;
  }
}

.header-img {
  margin: 0px 50px 0px 0px; width: 250px; height: 250px;
}
@media screen and (max-width: 600px) {
  .header-img {
    margin: 0px 25px;
  }
}

.contacts {
  margin-bottom: 10px;
}
.contacts a {
  padding: 0px 25px 0px 0px;
}

.desc-title {
  margin: 5px 0px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
}
.desc-title h3{
  font-weight: normal;
  color: #000000;
  margin: 0px;
  padding: 0px 10px 0px 0px;
}

.proj-img {
  box-shadow: 0px 0px 5px #a1a1a1;
  position: relative;
  width: 100%;
  margin: 15px 0px;
}
.proj-img:hover {
  box-shadow: 0px 0px 8px #a1a1a1;
}
