body {
  background-color: #ffffff;
  color: #616161;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: normal;
  color: #000000;
  margin: 0px 0px 10px 0px;
}

h2 {
  font-weight: normal;
  color: #616161;
  margin: 0px;
}

h3{
  font-weight: normal;
  color: #000000;
  margin: 0px 0px 10px 0px;
}

p {
  line-height: 25px;
  margin: 25px 0px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #ff0000;
}
a:active {
  color: #ff0000;
}

.container {
  max-width: 650px;
  margin: 50px auto;
  padding: 5px;
}
@media screen and (max-width: 600px) {
    .container {
      margin: 30px auto;
      padding: 20px;
    }
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts {
  padding: 5px 0px;
  margin: 25px 0px;
}
.contacts a {
  padding: 0px 25px 0px 0px;
}

@media screen and (max-width: 600px) {
  .contacts {
    text-align: center;
  }
  .contacts a {
    padding: 0px 10px;
  }
}

.project-element {

}

.desc-frame {
  margin: 10px 0px;
}
.desc-frame p {
  line-height: 15px;
  margin: 15px 0px;
}

.img-frame {
  box-shadow: 0px 0px 5px #a1a1a1;
  position: relative;
  width: 100%;
  margin: 20px 20px 0px 0px;
}
.img-frame:hover {
  box-shadow: 0px 0px 8px #a1a1a1;
}
