.container {
    margin: 50px 0px;
}

.main {
    position: absolute;
    left: 450px;
    margin-right: 150px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
    .main{
        left: 0;
        margin: 30px;
    }
}