.container {

}

.desc > .text {
    margin-top: 15px;
}

.desc {
    margin: 20px 0px;
}

.desc > h2 {
    margin: 0px 0px 10px 0px;
}

.desc > p {
    display: block;
    margin: 5px 0px;
}

.image {
    width: 100%;
}

.source {
    font-style: italic;
}
