html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

a:link {
  color: #000000;
}
a:visited {
  color: #404040;
}
a:hover {
  color: #5e5ece;
}
a:active {
  color: #6eb7c7;
}

p {
  color: #4a4a4a;
}